.images{
    width: 4rem;
}
.names{
    width: 4rem;
}

.prices{
    width: 4rem;
    
}
.highs{
    width: 4rem;
}
.all_tym_high{
    width: 6rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: .5rem;
    align-items: center;
}
.all_tym_high .datess{
    font-size: 13px;
    color: rgb(87, 84, 84);
    font-weight: 600;
}
.rank{
    width: 4rem;
}
.search_bar{
    margin-left: 12rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.search_bar>input{
    outline: none;
    /* border-color:  aqua; */
    padding-left: 1rem;
    border-radius: 10px;
    border: none;
}

.price_options_sec{
    margin-left: 12rem;
}
